<div class="employee index">
  <h2>Employees</h2>

  <h3><%= link_to("Add New Employee", new_employee_path, :class => 'action new') %></h3>
  </br>

  <table align="center" class="listing" summary="Employee list">
    <tr class="header">
      <th>Id</th>
      <th>Last Name</th>
      <th>First Name</th>
      <th>Job Tittle</th>
      <th>Email</th>
      <th>Actions</th>
    </tr>
    <% @employees.each do |employee| %>
    <tr>
      <td><%= employee.id %></td>
      <td><%= employee.last_name %></td>
      <td><%= employee.first_name %></td>
      <td><%= employee.jod_tittle %></td>
      <td><%= employee.email %></td>
      <td class="actions">
        <%= link_to("Show", employee_path(employee), :class => 'action show') %>
        <%= link_to("Edit", edit_employee_path(employee), :class => 'action edit') %>
        <%= link_to("Delete", delete_employee_path(employee), :class => 'action delete') %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
